/*font for web app*/
* {
	font-family: 'Open Sans', sans-serif;
}

/*chart1 css*/

div#chart1 {
  background-color: gray;
}
div#chart1 svg {
	font: 10px;
	background-color: white;
	text-align: right;
	padding: 5px;
	margin: 1px;
	color: white;
}

.axis1 path, axis1, line {
  fill:none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis1 text {
  font-family: sans-serif;
  font-size: 11px;
}


/*chart2 css*/
.axis path, .axis line {
    fill: none;
    stroke: #777;
	shape-rendering: crispEdges;
}
        
.axis text {
    font-family: 'Arial';
    font-size: 13px;
}

.tick {
    stroke-dasharray: 1, 2;
}
.bar {
    fill: FireBrick;
}
        
