/*font for web app*/
* {
	font-family: 'Open Sans', sans-serif;
}

/*chart1 css*/
#chart1 svg {
	font: 10px;
	background-color: #c8ccc1;
	text-align: right;
	padding: 5px;
	margin: 1px;
	color: white;
}

#chart1 rect {
  fill: #c8ccc1;
}

#chart1 text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

/*chart2 css*/
.axis path, .axis line {
    fill: none;
    stroke: #777;
	shape-rendering: crispEdges;
}
        
.axis text {
    font-family: 'Arial';
    font-size: 13px;
}

.tick {
    stroke-dasharray: 1, 2;
}
.bar {
    fill: FireBrick;
}
        
