<!DOCTYPE html>
<html lang="en">
<head>
<!-- Compatible -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Responsive -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>CrazyNumbers</title>
<!-- Bootstrap CSS -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cyborg/bootstrap.min.css" rel="stylesheet">
<!-- Google Font CSS-->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
{% block content %}
<!-- Dashboard objects -->
{% endblock %}

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


</body>
</html>