<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Title of CrazyNumbers -->
	<title>CrazyNumbers</title>

	<!-- Link to Bootstrap -->

	<!-- Link to CSS -->
	<link href="/static/css/styles.css" rel="stylesheet">

	<!-- Link to JQuery  -->
	<script src="http://code.jquery.com/jquery.js"></script>
	<!-- Link to D3 -->
    <script src="http://d3js.org/d3.v2.js"></script>

</head>
<body>
<div class="container">
    <ul>
        {% for message in get_flashed_messages() %}
            <li>{{ message | safe }}</li>
        {% endfor %}
    </ul>

	{% block content %}
	<!-- CrazyNumbers Dashboard goes here -->
	{% endblock %}
</div>

</body>
</html>