{% extends 'base.html' %}

{% block content %}
<div class="title">
<h1>CrazyNumbers</h1>
</div>

<div class="welcome">
<h4>Welcome to the dashboard, and check out all the information about the numbers in the analysis below.</h4>
</div>

<div class="chart3">
<canvas id="chart3" width="10000" height="auto"></canvas>
</div>

<div class="chart4">
<canvas id="chart4" width="1000" height="auto"></canvas>
</div>

<div class="chart1">
<svg id="chart1" width="500" height="200"></svg>
</div>

<div class="chart2">
<svg id="chart2" width="500" height="200"></svg>
</div>

<script>
	
// // Chart3

	var ctx = document.getElementById("chart3").getContext("2d");

	var chart_js3_data = {{ chart_js3_data | tojson | safe }};
	
	var myNewChart = new Chart(ctx).Line(chart_js3_data);


// Chart1
// This dateTimeArray holds date and time information in the d3 UTC time format. 
	var dateTimeArray = [];
// This numberArray holds all 300 of our integers.
	var numberArray = {{ number }};
// Here we pass date_time as an array to the frontend Javascript object and save it in a d3 time format.
	{% for item in date_time %}
	var dateTime = new Date({{ item|safe }});
	var isoDateTime = d3.time.format.utc(dateTime);
	dateTimeArray.push(isoDateTime);
	{% endfor %}
// numberDict holds the frequency that each number appears in the numberArray object.
	
	function makeDict(numberArray){
		numberDict = {};
		for (var k=0; k < 300; k++) {
			if (!(numberArray[k] in numberDict)){
				console.log(numberArray[k]);
				numberDict[numberArray[k]] = 1;
				}
			else {
				numberDict[numberArray[k]] = (numberDict[numberArray[k]] || 0) + 1;
				console.log(numberArray[k]);
			}
		}
		return numberDict;
	}

// Here we call the makeDict function
	
	makeDict(numberArray)
	console.log(numberDict)

// Width and barHeight 

	var height = 500,
	width = 500;

	var x = 
// In Chart 1, we use the keys of the dict as labels, and the values as the freq/bar height
	var y = d3.scale.linear()
		.range([height, 0]);
		.domain([0, d3.max(data, function(d) { return d.value; })]

	// select the chart container using id selector
	var chart = d3.select("#chart1")
		.attr("width", width)
		.attr("height", height);

	// initiate data join.
	var bar =  chart.selectAll("#chart1")
		.selectAll("#chart1")
			.data(numberArray)
		.enter().append("#chart1")
		.attr("transform", function(d, i) { return "translate(0," + barHeight + ")"; });

	
	bar.append("rect")
		.attr("width", x)
		.attr("height", barHeight - 1);

	bar.append("text")
		.attr("x", function(d) { return x(d) - 3; })
		.attr("y", barHeight/2)
		.attr("dy", ".35em")
		.text(function(d) { return d; });

// // Chart2
InitChart();

function InitChart() {

var d = dateTime_array
console.log(d)
var number = {{ number }}
var obj = {}
var dict_constr = function(d, number){
	console.log(d.length, number.length)
	i = 0;
	j = 0;
	for (i; i < d.length; i++) {
		console.log(d[i]);

		for (j; j < number.length; i++){
			console.log(number[j]);	
			obj["d[i]"] = number[j];
		}
	}
}
dict_constr(d, number)
console.log(obj)
var lineData = [{x:1, y:2}]
var vis = d3.select("#chart2"), 
	WIDTH = 500,
    HEIGHT = 200,
    MARGINS = {
      top: 20,
      right: 20,
      bottom: 20,
      left: 50
    },
xRange = d3.scale.linear().range([MARGINS.left, WIDTH - MARGINS.right]).domain([d3.min(lineData, function (d) {
    return d.x;
    }),

d3.max(lineData, function (d) {
    return d.x;
    })
]),

yRange = d3.scale.linear().range([HEIGHT - MARGINS.top, MARGINS.bottom]).domain([d3.min(lineData, function (d) {
    return d.y;
	}),

d3.max(lineData, function (d) {
    return d.y;
    })
]),

xAxis = d3.svg.axis()
    .scale(xRange)
    // .tickSize(5)
    .tickSubdivide(true),

yAxis = d3.svg.axis()
    .scale(yRange)
    // .tickSize(5)
    .orient("left")
    .tickSubdivide(true);


vis.append("svg:g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + (HEIGHT - MARGINS.bottom) + ")")
    .call(xAxis);

vis.append("svg:g")
    .attr("class", "y axis")
    .attr("transform", "translate(" + (MARGINS.left) + ",0)")
    .call(yAxis);

var lineFunc = d3.svg.line()
	.x(function (d) {
    return xRange(d.x);
  })
	.y(function (d) {
    return yRange(d.y);
  })
	.interpolate('linear');

vis.append("svg:path")
	.attr("d", lineFunc(lineData))
	.attr("stroke", "blue")
	.attr("stroke-width", 2)
	.attr("fill", "none");
}

// Chart 4
	percentArray = [];
	labelsForPie = list(set(numberArray));
	chartJs4Data = {}
	datasetsDict = {}

	function forPie(numberDict){
		// print labels
		// item === unique number, key value pair numberDict[item]: frequency
		for item in labels:
			var frequency = numberDict[item];
			percentArray.append(frequency);
	}
	function createDate(labels, percentArray){
		chartJs4Data['labels'] = labelsForPie


	}
	datasetsDict['label'] = "Crazy Numbers"
	datasetsDict['fillColor'] = "rgba(220,220,220,0.5)"
	datasetsDict['strokeColor'] = "rgba(220,220,220,0.8)"
	datasetsDict['highlightFill'] = "rgba(220,220,220,0.75)"
	datasetsDict['highlightStroke'] = "rgba(220,220,220,1)"
	datasetsDict['data'] = y_axis_number
	chartJs4Data['datasets'] = [datasetsDict]


	var ctx = document.getElementById("chart4").getContext("2d");

	var myNewChart = new Chart(ctx).Pie(chart_js3_data);

</script>

{% endblock %}

